header {
  width: 100%;

  .navbar {
    padding-top: 0;
    padding-bottom: 0;
    border-bottom: 1px solid $color-white-1;
  }

  .head-nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: $h-1 + 5;
  }

  .navbar-brand {
    margin-right: $mg-3;
    margin-left: $mg-2 + 1;
    @include styleText($color-black-3, $fs-2, $fw-4);
  }
  .search-bar {
    @extend %search;
    span {
      top: $t-2;
    }
    input {
      height: $h-4 - 2;
      &::placeholder {
        color: $color-gray-1;
      }
    }
    button {
      @extend %buttonSearch;
      height: $h-4 - 2;
      padding: $pd-0 / 2 $pd-0 + 2;
    }
  }

  ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-left: $mg-7;

    .btn {
      @include styleButton($color-green-0, $color-white-0, $color-green-0, $fs-0, $fw-3, $pd-0 - 5, $pd-2);
      &:hover {
        @include hoverButton($color-white-0, $color-green-0, $color-green-0);
      }
    }

    .nav-link {
      @include styleText($color-gray-0, $fs-1, $fw-2);
      line-height: $line-height-1;
      &:hover {
        color: $color-green-0;
      }
    }
  }

  .hidden__nav{
    ul{
      list-style: none;
      width: 100%;
      margin: auto;
      padding: $pd-0 $pd-4;
    }

    li{
      position: relative;

      a{
        text-decoration: none;
        @include styleText($color-gray-1,$fs-1,$fw-2);
        line-height: $line-height-1;
        &:hover{
          &::after{
            content: "";
            position: absolute;
            height: 3px;
            width: 100%;
            top: 30px;
            left: 0;
            background: $color-green-0;
          }
  
      }
      }
    }

    .dropdown{
      position: relative;
      display: inline-block;
      &:hover{
        .drop-content{
          display: block;
        }
      }

      .drop-content{
        display: none;
        position: absolute;
        background-color: $color-white-0;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 11;
        top: 33px;
        border: none;
        p{
          padding: $pd-0 $pd-2;
          &:first-of-type{
            @include styleText($color-gray-2,$fs-1,$fw-2);
            padding-top: $pd-3;
          }
        }
      }

      .new{
        @include styleText($color-pink-0, $fs-0 - 4, $fw-3);
        margin-left: $mg-0;
        border: 1px solid $color-pink-0;
        border-radius: $bd-rd-2;
        padding: 3px 7px 2px;
        line-height: 100%;
      }
    }    
  }

  @include responsive("sc"){
    .search-bar{
      button{
        display: none;
      }
    }
    .hidden-one{
      display: none;
    }
    ul{
      margin-left: $mg-6;
    }
  }
  @include responsive("large"){
    ul{
      .nav-link{
        display: none;
      }
    }
    .hidden-two{
      display: none;
    }
  }
}
