.business__content h2 span, .feedback .card-body p, .logomaker__content h3 p, .banner__content h1 .text-italic {
  color: white;
  font-size: 48px;
  font-weight: 500;
  font-style: italic;
}

.freelance__content .text--head, .business__content .checked--item, .inspired__head, .guides__content, footer .footer__bot .bot--left, footer .footer__bot .bot--right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.business__content .badge {
  font-size: 10px;
  font-weight: 700;
  color: #ffffff;
  background-color: #584aff;
}

header .search-bar form, .fiverr-carousel .carousel__content .search-bar form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  width: 100%;
}

header .search-bar span, .fiverr-carousel .carousel__content .search-bar span {
  position: absolute;
  color: #62646a;
  width: 16px;
  height: 16px;
  top: 16px;
  left: 16px;
}

header .search-bar input, .fiverr-carousel .carousel__content .search-bar input {
  border-radius: 4px 0 0 4px;
  font-size: 16px;
  height: 48px;
  padding-left: 44px;
  padding-top: 8px;
  font: inherit;
}

header .search-bar input:hover, .fiverr-carousel .carousel__content .search-bar input:hover {
  border: 1px solid #c5c6c9;
  resize: none;
}

header .search-bar button, .fiverr-carousel .carousel__content button {
  border-radius: 0 4px 4px 0;
  height: 48px;
  padding: 12px 24px;
  font-weight: 700;
  background-color: #1dbf73;
  border: 1px solid transparent;
}

header .search-bar button:hover, .fiverr-carousel .carousel__content button:hover {
  background-color: #19a463;
}

.owl-carousel .owl-nav button.owl-prev, .owl-carousel .owl-nav button.owl-next {
  color: #62646a;
  background-color: #ffffff;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  -webkit-box-shadow: 0 2px 5px 0 rgba(20, 23, 28, 0.1);
          box-shadow: 0 2px 5px 0 rgba(20, 23, 28, 0.1);
  font-size: 32px;
  position: absolute;
  top: 35%;
}

.owl-carousel .owl-nav button.owl-prev:hover, .owl-carousel .owl-nav button.owl-next:hover {
  background-color: #ffffff;
  color: #62646a;
}

.owl-carousel .owl-nav button.owl-prev:focus, .owl-carousel .owl-nav button.owl-next:focus {
  outline: none;
}

.owl-carousel .owl-nav button.owl-prev {
  left: -30px;
}

.owl-carousel .owl-nav button.owl-next {
  right: -30px;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1px;
  color: #7a7d85;
  background-color: #ffffff;
}

header {
  width: 100%;
}

header .navbar {
  padding-top: 0;
  padding-bottom: 0;
  border-bottom: 1px solid #e4e5e7;
}

header .head-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80px;
}

header .navbar-brand {
  margin-right: 40px;
  margin-left: 25px;
  color: #404145;
  font-size: 32px;
  font-weight: 900;
}

header .search-bar span {
  top: 10px;
}

header .search-bar input {
  height: 34px;
}

header .search-bar input::-webkit-input-placeholder {
  color: #7a7d85;
}

header .search-bar input:-ms-input-placeholder {
  color: #7a7d85;
}

header .search-bar input::-ms-input-placeholder {
  color: #7a7d85;
}

header .search-bar input::placeholder {
  color: #7a7d85;
}

header .search-bar button {
  height: 34px;
  padding: 5px 12px;
}

header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 130px;
}

header ul .btn {
  color: #1dbf73;
  background-color: #ffffff;
  border: 1px solid #1dbf73;
  font-size: 14px;
  font-weight: 700;
  padding: 5px 20px;
  cursor: pointer;
}

header ul .btn:hover {
  color: #ffffff;
  background-color: #1dbf73;
  border: 1px solid #1dbf73;
}

header ul .nav-link {
  color: #62646a;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
}

header ul .nav-link:hover {
  color: #1dbf73;
}

header .hidden__nav ul {
  list-style: none;
  width: 100%;
  margin: auto;
  padding: 10px 32px;
}

header .hidden__nav li {
  position: relative;
}

header .hidden__nav li a {
  text-decoration: none;
  color: #7a7d85;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
}

header .hidden__nav li a:hover::after {
  content: "";
  position: absolute;
  height: 3px;
  width: 100%;
  top: 30px;
  left: 0;
  background: #1dbf73;
}

header .hidden__nav .dropdown {
  position: relative;
  display: inline-block;
}

header .hidden__nav .dropdown:hover .drop-content {
  display: block;
}

header .hidden__nav .dropdown .drop-content {
  display: none;
  position: absolute;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 11;
  top: 33px;
  border: none;
}

header .hidden__nav .dropdown .drop-content p {
  padding: 10px 20px;
}

header .hidden__nav .dropdown .drop-content p:first-of-type {
  color: #404145;
  font-size: 16px;
  font-weight: 600;
  padding-top: 24px;
}

header .hidden__nav .dropdown .new {
  color: #ff62ad;
  font-size: 10px;
  font-weight: 700;
  margin-left: 10px;
  border: 1px solid #ff62ad;
  border-radius: 40px;
  padding: 3px 7px 2px;
  line-height: 100%;
}

@media screen and (max-width: 1160px) {
  header .search-bar button {
    display: none;
  }
  header .hidden-one {
    display: none;
  }
  header ul {
    margin-left: 80px;
  }
}

@media screen and (max-width: 992px) {
  header ul .nav-link {
    display: none;
  }
  header .hidden-two {
    display: none;
  }
}

.fiverr-carousel {
  position: relative;
}

.fiverr-carousel .carousel__content {
  position: absolute;
  color: #ffffff;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 95%;
  margin: 0 auto;
}

.fiverr-carousel .carousel__content .text-car {
  width: 650px;
}

.fiverr-carousel .carousel__content .head-car h1 {
  color: #ffffff;
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  padding-bottom: 24px;
}

.fiverr-carousel .carousel__content .head-car i {
  font-weight: 500;
}

.fiverr-carousel .popular {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #ffffff;
  font-size: 14px;
  font-weight: 600;
  line-height: 27px;
  padding-top: 24px;
}

.fiverr-carousel .popular ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  width: 100%;
  margin-left: 12px;
  padding-left: 0;
}

.fiverr-carousel .popular li {
  margin-right: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.fiverr-carousel .popular a {
  text-decoration: none;
  color: #ffffff;
  line-height: 24px;
  padding: 1px 12px 0;
  border: 1px solid #ffffff;
  border-radius: 40px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.fiverr-carousel .popular a:hover {
  color: #404145;
  background-color: #ffffff;
}

.fiverr-carousel .carousel__img .carousel-caption {
  position: absolute;
  color: #ffffff;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  bottom: 0;
  right: 0;
  -webkit-transform: translate(35%, -10%);
          transform: translate(35%, -10%);
}

.fiverr-carousel .carousel__img .star::before {
  background: url("../img/five_stars.e5c37f5.svg") no-repeat;
  background-size: 77px;
  content: "";
  display: block;
  height: 17px;
  bottom: 0;
  right: 0;
  -webkit-transform: translate(42%, -50%);
          transform: translate(42%, -50%);
}

@media screen and (max-width: 1200px) {
  .fiverr-carousel .carousel__content .head-car h1 {
    font-size: 43px;
  }
  .fiverr-carousel .carousel__content .search-bar form {
    width: 90%;
  }
}

@media screen and (max-width: 992px) {
  .fiverr-carousel .carousel__content .head-car h1 {
    font-size: 36px;
    width: 90%;
    padding-bottom: 16px;
  }
  .fiverr-carousel .carousel__content .search-bar form {
    width: 80%;
  }
  .fiverr-carousel .carousel__content .search-bar input {
    height: 42px;
  }
  .fiverr-carousel .carousel__content .search-bar span {
    top: 14px;
  }
  .fiverr-carousel .carousel__content button {
    height: 42px;
    padding: 10px 24px;
  }
  .fiverr-carousel .carousel__img .carousel-caption {
    font-size: 14px;
  }
  .fiverr-carousel .popular {
    width: 80%;
  }
  .fiverr-carousel .popular ul {
    margin-left: 0;
  }
  .fiverr-carousel .popular li {
    margin-right: 8px;
  }
  .fiverr-carousel .popular a {
    padding: 1px 6px 0;
  }
}

@media screen and (max-width: 900px) {
  .fiverr-carousel .carousel__img .carousel-caption p {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .fiverr-carousel .carousel__content .head-car h1 {
    font-size: 28px;
    width: 75%;
    padding-bottom: 16px;
    margin-bottom: 0;
    line-height: 44px;
  }
  .fiverr-carousel .carousel__content .search-bar form {
    width: 70%;
  }
  .fiverr-carousel .carousel__content .search-bar input {
    height: 42px;
  }
  .fiverr-carousel .carousel__content .search-bar span {
    top: 14px;
  }
  .fiverr-carousel .carousel__content button {
    height: 42px;
    padding: 5px 20px;
  }
  .fiverr-carousel .popular {
    width: 80%;
  }
  .fiverr-carousel .popular p {
    display: none;
  }
  .fiverr-carousel .popular ul {
    margin-left: 0;
  }
  .fiverr-carousel .popular li {
    margin-right: 8px;
  }
  .fiverr-carousel .popular a {
    padding: 0 3px 0;
  }
}

@media screen and (max-width: 576px) {
  .fiverr-carousel .carousel__content .head-car h1 {
    font-size: 23px;
    width: 75%;
    padding-bottom: 16px;
    margin-bottom: 0;
    line-height: 30px;
  }
  .fiverr-carousel .carousel__content .search-bar form {
    width: 65%;
  }
  .fiverr-carousel .carousel__content .search-bar input {
    height: 35px;
  }
  .fiverr-carousel .carousel__content .search-bar span {
    top: 10px;
  }
  .fiverr-carousel .carousel__content button {
    height: 35px;
    padding: 5px 14px;
  }
  .fiverr-carousel .popular {
    width: 80%;
    font-size: 12px;
  }
  .fiverr-carousel .popular p {
    display: none;
  }
  .fiverr-carousel .popular ul {
    margin-left: 0;
  }
  .fiverr-carousel .popular li {
    margin-right: 5px;
  }
  .fiverr-carousel .popular a {
    padding: 0 3px 0;
  }
}

.trust__section {
  margin-bottom: 96px;
  background-color: #fafafa;
}

.trust__section .trust__item {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.trust__section span {
  padding-right: 20px;
  color: #b5b6ba;
  font-weight: 600;
}

.trust__section ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 95px;
  padding: 0 24px;
  margin-bottom: 0;
  list-style: none;
}

.trust__section ul li {
  padding-right: 60px;
}

@media screen and (max-width: 1160px) {
  .trust__section .trust__item span {
    display: none;
  }
}

@media screen and (max-width: 992px) {
  .trust__section {
    margin-bottom: 80px;
  }
}

@media screen and (max-width: 768px) {
  .trust__section {
    margin-bottom: 48px;
  }
  .trust__section ul li {
    padding-right: 32px;
  }
}

@media screen and (max-width: 768px) {
  .trust__section ul li {
    padding-right: 24px;
  }
}

@media screen and (max-width: 576px) {
  .trust__section {
    margin-bottom: 24px;
  }
  .trust__section ul {
    height: 75px;
  }
  .trust__section ul li {
    padding-right: 10px;
  }
}

.services {
  margin-bottom: 80px;
}

.services__content {
  width: 95%;
  margin: 0 auto;
}

.services__head h2 {
  padding-bottom: 24px;
  font-weight: 700;
}

.services__item .card {
  border: none;
}

.services__item p {
  color: #ffffff;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  margin-bottom: 0;
}

.services__item h3 {
  color: #ffffff;
  font-size: 24px;
  font-weight: 600;
}

.freelance {
  margin-bottom: 96px;
  background-color: #f1fdf7;
}

.freelance__item {
  width: 95%;
  margin: 0 auto;
  padding-top: 96px;
  padding-bottom: 96px;
}

.freelance__content h2 {
  color: #404145;
  font-size: 32px;
  font-weight: 700;
  padding-bottom: 24px;
  line-height: 120%;
}

.freelance__content .text--head {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.freelance__content .text--head i {
  width: 24px;
  height: 24px;
  color: #7a7d85;
  margin-right: 10px;
  font-size: 24px;
  margin-bottom: 10px;
}

.freelance__content .text--head h4 {
  color: #404145;
  font-size: 18px;
  font-weight: 700;
  line-height: 140%;
}

.freelance__content .text--description p {
  font-size: 18px;
  line-height: 26px;
  color: #62646a;
}

.freelance__video {
  position: relative;
}

.freelance__video img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.freelance__video i {
  color: white;
  font-size: 30px;
  width: 80px;
  height: 80px;
  background-color: rgba(58, 48, 42, 0.8);
  line-height: 80px;
  text-align: center;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

@media screen and (max-width: 768px) {
  .freelance__item {
    padding-top: 64px;
    padding-bottom: 64px;
  }
  .freelance__content h2 {
    font-size: 28px;
    padding-bottom: 16px;
  }
  .freelance__content .text--head i {
    font-size: 16px;
    height: 16px;
    margin-right: 0;
  }
  .freelance__content .text--description p {
    font-size: 16px;
  }
}

@media screen and (max-width: 576px) {
  .freelance__item {
    padding-top: 32px;
    padding-bottom: 32px;
  }
  .freelance__content h2 {
    font-size: 24px;
    padding-bottom: 0;
  }
  .freelance__content .text--head i {
    font-size: 16px;
    height: 16px;
    margin-right: 0;
    margin-bottom: 0;
  }
  .freelance__content .text--head h4 {
    margin-bottom: 0;
  }
  .freelance__content .text--description p {
    font-size: 16px;
    margin-bottom: 0;
    line-height: 22px;
  }
}

.marketplace {
  margin: 0 auto 48px;
}

.marketplace .market {
  width: 95%;
  margin: 0 auto;
}

.marketplace h2 {
  color: #404145;
  font-size: 32px;
  font-weight: 700;
  padding-bottom: 24px;
  margin-bottom: 40px;
  line-height: 120%;
}

.marketplace .market__content ul {
  list-style: none;
}

.marketplace .market__content ul li {
  padding-bottom: 55px;
  text-align: center;
}

.marketplace .market__content a {
  text-decoration: none;
  position: relative;
  color: #222325;
  text-align: center;
  display: inline-block;
}

.marketplace .market__content a:hover:after {
  width: 96px;
  border-color: #1dbf73;
}

.marketplace .market__content a::after {
  content: "";
  position: absolute;
  top: 45px;
  right: 50%;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
  padding: 0 0 8px;
  width: 48px;
  border-bottom: 2px solid #c5c6c9;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.marketplace .market__content a img {
  width: 48px;
  height: 48px;
  display: block;
  margin: 0 auto 24px;
}

.business {
  background-color: #0d084d;
  color: #ffffff;
  margin-bottom: 96px;
  position: relative;
  height: 90vh;
}

.business__item {
  width: 95%;
  margin: 0 auto;
  padding: 96px 0;
}

.business__content {
  position: absolute;
  top: 15%;
  left: 10%;
  -webkit-transform: translate(-17%, -5%);
          transform: translate(-17%, -5%);
}

.business__content h3 {
  padding-bottom: 32px;
}

.business__content h3 span {
  font-weight: 700;
}

.business__content h2 {
  max-width: 450px;
  padding-bottom: 24px;
  font-weight: 700;
}

.business__content h2 span {
  font-size: 32px;
}

.business__content .head-text {
  padding-bottom: 32px;
  max-width: 450px;
  font-size: 18px;
  line-height: 26px;
}

.business__content .business--checked {
  margin-bottom: 48px;
}

.business__content .checked--item {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.business__content .checked--item p {
  margin-bottom: 7px;
}

.business__content i {
  width: 24px;
  height: 24px;
  color: #7a7d85;
  margin-right: 10px;
  font-size: 24px;
  margin-bottom: 10px;
}

.business__content .btn {
  color: #ffffff;
  background-color: #1dbf73;
  border: 1px solid #1dbf73;
  font-size: 16px;
  font-weight: 700;
  padding: 12px 24px;
  cursor: pointer;
}

.business__content .btn:hover {
  color: #ffffff;
  background-color: #168a53;
  border: 1px solid #168a53;
}

.business__img {
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-7%, -55%);
          transform: translate(-7%, -55%);
}

.business__img img {
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 768px) {
  .business__content {
    -webkit-transform: translate(-8%, -5%);
            transform: translate(-8%, -5%);
  }
  .business__content h2, .business__content h3, .business__content .head-text {
    max-width: 100%;
  }
  .business__content .head-text {
    padding-bottom: 20px;
  }
  .business__content .business--checked {
    margin-bottom: 40px;
  }
  .business__img {
    display: none;
  }
}

.feedback {
  width: 95%;
  margin: auto;
  border: none;
  margin-bottom: 96px;
}

.feedback .card {
  border: none;
}

.feedback .img-left {
  width: 468px;
  height: 263px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5px;
}

.feedback .card-body {
  height: 263px;
  padding: 16px 48px 0 64px;
}

.feedback .card-body h5 {
  color: #7a7d85;
  font-size: 20px;
  font-weight: 500;
  line-height: 28px;
}

.feedback .card-body h5 .kay {
  width: 82px;
}

.feedback .card-body h5 .bri {
  width: 127px;
}

.feedback .card-body h5 .cai {
  width: 93.5px;
}

.feedback .card-body h5 .tim {
  width: 153.5px;
}

.feedback .card-body img {
  display: inline-block;
  height: 36px;
  -o-object-fit: cover;
     object-fit: cover;
}

.feedback .card-body p {
  color: #003912;
  font-size: 30px;
  line-height: 44px;
}

@media screen and (max-width: 1100px) {
  .feedback .card-body p {
    font-size: 25px;
  }
}

@media screen and (max-width: 992px) {
  .feedback .card-body p {
    font-size: 22px;
    line-height: 40px;
  }
}

.logomaker {
  background-color: #4a73e8;
  background-blend-mode: overlay;
  padding: 0 32px;
  width: 95%;
  margin: auto;
  text-align: center;
  height: 300px;
  position: relative;
}

.logomaker__content {
  color: #ffffff;
  position: absolute;
  text-align: left;
  top: 25%;
  left: 15%;
  -webkit-transform: translate(-25%, -20%);
          transform: translate(-25%, -20%);
}

.logomaker__content h4 {
  color: #ffffff;
  font-size: 24px;
  font-weight: normal;
}

.logomaker__content h4 span:first-of-type {
  font-weight: 700;
}

.logomaker__content h4 span:last-of-type {
  font-size: 11px;
  font-weight: 900;
}

.logomaker__content h3 {
  color: #ffffff;
  font-size: 34px;
  font-weight: 700;
  margin-bottom: 8px;
}

.logomaker__content h3 p {
  font-size: 34px;
}

.logomaker__content p {
  line-height: 24px;
  margin-bottom: 24px;
}

.logomaker__content button {
  color: #4a73e8;
  font-size: 16px;
  font-weight: 600;
  padding: 10px 24px;
  border: none;
  background-color: #ffffff;
}

.logomaker__img {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-48%, -50%);
          transform: translate(-48%, -50%);
}

.logomaker__img img {
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
  -webkit-transform: scale(1.7);
          transform: scale(1.7);
}

@media screen and (max-width: 1100px) {
  .logomaker__item .logomaker__content h4 {
    font-size: 22px;
  }
  .logomaker__item .logomaker__content h3 {
    font-size: 30px;
  }
  .logomaker__item .logomaker__content h3 p {
    font-size: 30px;
  }
  .logomaker__item .logomaker__content button {
    font-size: 14px;
  }
}

@media screen and (max-width: 900px) {
  .logomaker__item .logomaker__content h4 {
    font-size: 20px;
  }
  .logomaker__item .logomaker__content h3 {
    font-size: 28px;
  }
  .logomaker__item .logomaker__content h3 p {
    font-size: 28px;
  }
  .logomaker__item .logomaker__content button {
    font-size: 12px;
  }
}

@media screen and (max-width: 768px) {
  .logomaker__img {
    display: none;
  }
}

.inspired {
  margin: 96px auto;
}

.inspired__content {
  background-color: #fefef0;
  padding: 32px 32px 64px;
  width: 100%;
}

.inspired__head {
  padding-bottom: 24px;
}

.inspired__head h2 {
  color: #404145;
  font-size: 32px;
  font-weight: 700;
}

.inspired__head a {
  color: #4a73e8;
  font-size: 16px;
  font-weight: 600;
  text-decoration: none;
  padding-top: 10px;
}

.inspired__item a {
  text-decoration: none;
}

.inspired__item a:hover img {
  opacity: .85;
}

.inspired__item a .card {
  -webkit-box-shadow: 0px 5px 6px #2e2e2e;
          box-shadow: 0px 5px 6px #2e2e2e;
  margin: 16px auto;
  border: none;
}

.inspired__item a .card-img-top {
  width: 100%;
  height: 237px;
  -o-object-fit: cover;
     object-fit: cover;
}

.inspired__item a .card-body {
  width: 294px;
  height: 75px;
  -o-object-fit: cover;
     object-fit: cover;
}

.inspired__item a .card-body img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.inspired__item a .text--item {
  padding-left: 12px;
}

.inspired__item a .text--item h5 {
  color: #404145;
  font-size: 14px;
  font-weight: 700;
  line-height: 21px;
  margin-bottom: 0;
}

.inspired__item a .text--item p {
  color: #95979d;
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
}

@media screen and (max-width: 1100px) {
  .inspired__item a .text--item h5, .inspired__item a .text--item p {
    font-size: 13px;
  }
}

@media screen and (max-width: 992px) {
  .inspired__head h2 {
    font-size: 27px;
  }
}

@media screen and (max-width: 768px) {
  .inspired__head h2 {
    font-size: 24px;
  }
  .inspired__head a {
    display: none;
  }
}

.guides {
  padding: 32px 32px 64px;
}

.guides__content {
  padding-bottom: 24px;
}

.guides__content h2 {
  color: #404145;
  font-size: 32px;
  font-weight: 700;
}

.guides__content a {
  color: #4a73e8;
  font-size: 16px;
  font-weight: 600;
  text-decoration: none;
  padding-top: 10px;
}

.guides__item a {
  text-decoration: none;
}

.guides__item .card {
  border: none;
  padding: 0 4px;
  line-height: 24px;
}

.guides__item .card--img {
  -webkit-transition: all 1s;
  transition: all 1s;
}

.guides__item .card--img:hover img {
  opacity: .85;
}

.guides__item .card-body {
  padding: 16px 0;
}

.guides__item .card-body h5 {
  color: #404145;
  font-size: 18px;
  font-weight: 700;
}

.guides__item .card-body p {
  color: #7a7d85;
  font-size: 16px;
  font-weight: 500;
}

@media screen and (max-width: 768px) {
  .guides__content h2 {
    font-size: 28px;
  }
  .guides__content a {
    display: none;
  }
}

@media screen and (max-width: 576px) {
  .guides__content h2 {
    font-size: 24px;
  }
}

.banner {
  padding: 0 0 64px;
  border-bottom: 1px solid #c5c6c9;
  position: relative;
}

.banner__content {
  color: #ffffff;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-80%, -70%);
          transform: translate(-80%, -70%);
}

.banner__content h1 {
  color: #ffffff;
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  padding-bottom: 40px;
}

.banner__content button {
  color: #ffffff;
  background-color: #1dbf73;
  border: 1px solid #1dbf73;
  font-size: 16px;
  font-weight: 700;
  padding: 8px 22px;
  cursor: pointer;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.banner__content button:hover {
  color: #ffffff;
  background-color: #168a53;
  border: 1px solid #168a53;
}

.banner img {
  width: 90%;
  margin: 0 40px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5px;
}

@media screen and (max-width: 1100px) {
  .banner .banner__content h1, .banner .banner__content span {
    font-size: 40px;
    padding-bottom: 10px;
  }
}

@media screen and (max-width: 992px) {
  .banner .banner__content h1, .banner .banner__content span {
    font-size: 32px;
    padding-bottom: 10px;
  }
}

@media screen and (max-width: 768px) {
  .banner .banner__content h1, .banner .banner__content span {
    font-size: 24px;
    padding-bottom: 10px;
  }
  .banner .banner__content button {
    font-size: 14px;
    padding: 4px 11px;
  }
}

@media screen and (max-width: 800px) {
  .banner .banner__content h1, .banner .banner__content span {
    font-size: 24px;
    padding-bottom: 10px;
    line-height: 24px;
  }
}

@media screen and (max-width: 650px) {
  .banner .banner__content h1, .banner .banner__content span {
    font-size: 18px;
    padding-bottom: 10px;
    line-height: 24px;
  }
}

@media screen and (max-width: 576px) {
  .banner .banner__content {
    -webkit-transform: translate(-70%, -100%);
            transform: translate(-70%, -100%);
  }
  .banner .banner__content h1, .banner .banner__content span {
    font-size: 14px;
    padding-bottom: 0;
    line-height: 19px;
  }
  .banner .banner__content button {
    font-size: 10px;
    padding: 4px 6px;
  }
}

footer {
  padding: 64px 32px 24px;
}

footer .footer__top::after {
  content: "";
  width: 100%;
  height: 1px;
  display: block;
  background-color: #e4e5e7;
  margin: 0 16px;
}

footer .footer__top .footer__item {
  padding: 0 16px;
}

footer .footer__top h6 {
  color: #404145;
  font-size: 16px;
  font-weight: 900;
  padding-bottom: 20px;
}

footer .footer__top ul {
  padding-left: 0;
}

footer .footer__top ul li {
  list-style-type: none;
  padding-bottom: 20px;
}

footer .footer__top ul p {
  color: #7a7d85;
  font-size: 16px;
  font-weight: normal;
}

footer .footer__top ul .sub-text {
  color: #b5b6ba;
  font-size: 14px;
  font-weight: normal;
  padding-top: 0;
}

footer .footer__bot {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 16px;
  line-height: 24px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .footer__bot .bot--left {
  padding-top: 16px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

footer .footer__bot .bot--left h2 {
  color: #62646a;
  font-size: 32px;
  font-weight: 600;
  margin: 0;
}

footer .footer__bot .bot--left p {
  color: #7a7d85;
  font-size: 14px;
  font-weight: normal;
  margin: 0 0 0 24px;
}

footer .footer__bot .bot--right {
  padding-top: 16px;
  color: #7a7d85;
  font-size: 14px;
  font-weight: 600;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

footer .footer__bot .bot--right .social {
  padding-right: 32px;
}

footer .footer__bot .bot--right .social i {
  font-size: 20px;
  padding: 0 16px;
  width: 20px;
  height: 20px;
}

footer .footer__bot .bot--right a {
  color: #7a7d85;
  font-size: 16px;
  font-weight: 600;
  text-decoration: none;
  padding: 0 10px;
}

footer .footer__bot .bot--right .access {
  padding-left: 10px;
  font-size: 32px;
}

@media screen and (max-width: 1200px) {
  footer .footer__bot .bot--right .social {
    padding-right: 10px;
  }
  footer .footer__bot .bot--right a {
    padding-right: 0;
    padding-left: 0;
  }
}

@media screen and (max-width: 992px) {
  footer .footer__bot .bot--right {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

@media screen and (max-width: 900px) {
  footer .footer__bot .bot--right .social i {
    padding: 0 10px;
  }
}

@media screen and (max-width: 576px) {
  footer .footer__top .footer__item .ul {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */